hw/datarmor/run*/

clean~
clean
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm files
.idea/

# data files
*.nc

# fig and movies
*.png
*.jpg
*.pdf
*.mp4
*figs/

# openoffice
*.odp#

# jupyter
.ipynb*

# logins
*.login

# dask files
dask-worker*
dask-scheduler*
jlab.pbs.o*
*.log
*.nodefile


